{% include 'LICENSE' %}

PRODUCT_MAKEFILES := \
    $(LOCAL_DIR)/omni_{{ deviceinfo.codename }}.mk

COMMON_LUNCH_CHOICES := \
    omni_{{ deviceinfo.codename }}-user \
    omni_{{ deviceinfo.codename }}-userdebug \
    omni_{{ deviceinfo.codename }}-eng

