{{ device_info.codename }}: Initial TWRP device tree
Made with SebaUbuntu's TWRP device tree generator
Arch: {{ device_info.arch.arch }}
Manufacturer: {{ device_info.manufacturer }}
Model: {{ device_info.model }}
Script version: {{ version }}
