{{ device_codename }}: Initial TWRP device tree
Made with SebaUbuntu's TWRP device tree generator
Arch: {{ device_arch }}
Manufacturer: {{ device_manufacturer }}
Model: {{ device_model }}
Script version: {{ version }}
Signed-off-by: Sebastiano Barezzi <barezzisebastiano@gmail.com>