{{ deviceinfo.codename }}: Initial TWRP device tree
Made with SebaUbuntu's TWRP device tree generator
Arch: {{ deviceinfo.arch_str }}
Manufacturer: {{ deviceinfo.manufacturer }}
Model: {{ deviceinfo.model }}
Script version: {{ version }}
Signed-off-by: Sebastiano Barezzi <barezzisebastiano@gmail.com>
