{% include 'LICENSE.jinja2' %}

LOCAL_PATH := device/{{ device_info.manufacturer }}/{{ device_info.codename }}
{% if device_info.device_is_ab %}
# A/B
AB_OTA_POSTINSTALL_CONFIG += \
    RUN_POSTINSTALL_system=true \
    POSTINSTALL_PATH_system=system/bin/otapreopt_script \
    FILESYSTEM_TYPE_system=ext4 \
    POSTINSTALL_OPTIONAL_system=true

# Boot control HAL
PRODUCT_PACKAGES += \
    android.hardware.boot@1.0-impl \
    android.hardware.boot@1.0-service

PRODUCT_PACKAGES += \
    bootctrl.{{ device_info.platform }}

PRODUCT_STATIC_BOOT_CONTROL_HAL := \
    bootctrl.{{ device_info.platform }} \
    libgptutils \
    libz \
    libcutils

PRODUCT_PACKAGES += \
    otapreopt_script \
    cppreopts.sh \
    update_engine \
    update_verifier \
    update_engine_sideload
{% endif %}

