{{ comment_prefix }}
{{ comment_prefix }} Copyright (C) {{ current_year }} The Android Open Source Project
{{ comment_prefix }} Copyright (C) {{ current_year }} SebaUbuntu's TWRP device tree generator
{{ comment_prefix }}
{{ comment_prefix }} SPDX-License-Identifier: Apache-2.0
{{ comment_prefix }}

