{{ comment_prefix }}
{{ comment_prefix }} Copyright (C) {{ current_year }} The Android Open Source Project
{{ comment_prefix }} Licensed under the Apache License, Version 2.0 (the "License");
{{ comment_prefix }} you may not use this file except in compliance with the License.
{{ comment_prefix }} You may obtain a copy of the License at
{{ comment_prefix }}
{{ comment_prefix }} http://www.apache.org/licenses/LICENSE-2.0
{{ comment_prefix }}
{{ comment_prefix }} Unless required by applicable law or agreed to in writing, software
{{ comment_prefix }} distributed under the License is distributed on an "AS IS" BASIS,
{{ comment_prefix }} WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
{{ comment_prefix }} See the License for the specific language governing permissions and
{{ comment_prefix }} limitations under the License.
{{ comment_prefix }}
