{% include 'LICENSE.jinja2' %}

# Inherit from those products. Most specific first.
{% if device_info.arch.bitness == 64 %}
$(call inherit-product, $(SRC_TARGET_DIR)/product/core_64_bit.mk)
{% endif %}
$(call inherit-product, $(SRC_TARGET_DIR)/product/full_base_telephony.mk)

# Inherit some common Omni stuff.
$(call inherit-product, vendor/omni/config/common.mk)

# Inherit from {{ device_info.codename }} device
$(call inherit-product, device/{{ device_info.manufacturer }}/{{ device_info.codename }}/device.mk)

PRODUCT_DEVICE := {{ device_info.codename }}
PRODUCT_NAME := omni_{{ device_info.codename }}
{% if device_info.brand %}
PRODUCT_BRAND := {{ device_info.brand }}
{% endif %}
{% if device_info.model %}
PRODUCT_MODEL := {{ device_info.model }}
{% endif %}
PRODUCT_MANUFACTURER := {{ device_info.manufacturer }}

PRODUCT_GMS_CLIENTID_BASE := {{ device_info.gms_clientid_base }}

PRODUCT_BUILD_PROP_OVERRIDES += \
    PRIVATE_BUILD_DESC="{{ device_info.build_description }}"

BUILD_FINGERPRINT := {{ device_info.build_fingerprint }}

