{{ device_codename }}: Initial TWRP device tree
Made with SebaUbuntu's TWRP device tree generator
Arch: {{ device_arch }}
Manufacturer: {{ device_manufacturer }}
Device full name: {{ device_brand }} {{ device_model }}
Script version: {{ version }}
Last script commit: {{ last_commit }}
Signed-off-by: Sebastiano Barezzi {{ 'barezzisebastiano@gmail.com' }}