{% include 'LICENSE' %}

# Inherit from those products. Most specific first.
{% if device_has_64bit_arch %}
$(call inherit-product, $(SRC_TARGET_DIR)/product/core_64_bit.mk)
{% endif %}
$(call inherit-product-if-exists, $(SRC_TARGET_DIR)/product/embedded.mk)
$(call inherit-product, $(SRC_TARGET_DIR)/product/full_base_telephony.mk)
$(call inherit-product, $(SRC_TARGET_DIR)/product/languages_full.mk)

# Inherit from {{ device_codename }} device
$(call inherit-product, device/{{ device_manufacturer }}/{{ device_codename }}/device.mk)

# Inherit some common Omni stuff.
$(call inherit-product, vendor/omni/config/common.mk)
$(call inherit-product, vendor/omni/config/gsm.mk)

# Device identifier. This must come after all inclusions
PRODUCT_DEVICE := {{ device_codename }}
PRODUCT_NAME := omni_{{ device_codename }}
PRODUCT_BRAND := {{ device_brand }}
PRODUCT_MODEL := {{ device_model }}
PRODUCT_MANUFACTURER := {{ device_manufacturer }}
PRODUCT_RELEASE_NAME := {{ device_brand }} {{ device_model }}